doctype html
html(lang='en')
  head
    //— META & CSS
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Events – Admin
    link(rel='icon', href='/images/fevicon.png', type='image/gif')

    // Bootstrap & template css
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(rel='stylesheet', href='/css/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap')
    link(rel='stylesheet', href='/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/css/owl.theme.default.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')

  body
    //— HEADER
    .header_section
      .header_main
        // Mobile nav
        .mobile_menu.d-lg-none
          nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .logo_mobile
              a(href='/dashboardAdmin')
                h1.banner_taital Eventify
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav')
              span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='/dashboardAdmin') Home
                li.nav-item
                  a.nav-link(href='/user') User
        // Desktop nav
        .container-fluid.d-none.d-lg-block
          .logo
            a(href='/dashboardAdmin')
              h1.banner_taital Eventify
          .menu_main
            ul
              li.active: a(href='/dashboardAdmin') Home
              li: a(href='/user') User

    //— CONTENT
    .blog_section.layout_padding
      .container
        h2.text-center.mb-4 Daftar Event Tersedia
        .text-right.mb-3
          a.btn.btn-primary(href='/eventRegis') Register Event
        if error
          .alert.alert-danger= error
        else if success
          .alert.alert-success= success

        if data && data.length > 0
            each ev in data
              .card.mb-4.shadow-lg.p-3.rounded
                .row
                  .col-md-4
                    img(src=`/uploads/posters${ev.poster}`, alt='Poster ' + ev.nama_event, class='img-fluid rounded')
                  .col-md-8
                    h3.mb-2 #{ev.nama_event}
                    p.mb-1
                      strong Lokasi: 
                      | #{ev.lokasi}
                    p.mb-1
                      strong Buka Registrasi: 
                      | #{ev.tgl_buka_regis}
                    p.mb-1
                      strong Deadline Registrasi: 
                      | #{ev.deadline_regis}
                    p.mb-1
                      strong Biaya: 
                      | Rp #{ev.biaya_regis}
                    p.mb-1
                      strong Kuota Peserta: 
                      | #{ev.peserta_maks}
        else
          p.text-center.mt-4 Tidak ada event saat ini.

    //— JS
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    script(src='/js/jquery-3.0.0.min.js')
    script(src='/js/plugin.js')
    script(src='/js/jquery.mCustomScrollbar.concat.min.js')
    script(src='/js/custom.js')
    script(src='/js/owl.carousel.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
